body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    background: #f9f9f9;
    margin: 0;
    min-height: 100%;
    text-align: center;
}

h1 {
    font-weight: lighter;
    margin: 0px;
    padding: 5px;
    font-size: 3rem;
}

p {
    margin: 0px 0px 5px;
}

.header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    background: #fff;
    padding: 5px 0px 10px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.aim {
    font-variant-caps: small-caps;
    font-size: 1.75rem;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.clear {
    clear: both;
}

.problem {
    list-style: none;
    text-align: left;
}

.problem>li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.innovation {
    font-size: 32px;
}

.innovation, .problem-wrp {
    width: 100%;
    text-align: center;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innovation img, .problem {
    align-self: center;
}

#imgAlt {
    display: block;
    -webkit-animation: fadeIn ease-in 2000ms;
    -moz-animation: fadeIn ease-in 2000ms;
    animation: fadeIn ease-in 2000ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product {
    display: none;
}

.bottom-line {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.bottom-line label {
    color: #fff;
    -webkit-transition: -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    display: inline-block;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 100px;
}

.bottom-line form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}

.bottom-line input {
    position: absolute;
    margin: 20px;
}

.bottom-line input:focus~.keys {
    opacity: 0.8;
}

.bottom-line input:nth-of-type(1):checked~label:nth-of-type(1), .bottom-line input:nth-of-type(2):checked~label:nth-of-type(2), .bottom-line input:nth-of-type(3):checked~label:nth-of-type(3), .bottom-line input:nth-of-type(4):checked~label:nth-of-type(4) {
    z-index: 0;
}

.bottom-line input:nth-of-type(1):checked~label {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bottom-line input:nth-of-type(2):checked~label {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.bottom-line input:nth-of-type(3):checked~label {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}

.bottom-line input:nth-of-type(4):checked~label {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
}

.bottom-line label {
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    color: #000;
    font-weight: lighter;
    font-size: 2.5rem;
}

.bottom-line label:before, .bottom-line label:after {
    color: #333;
    display: block;
    background: #fff;
    position: absolute;
    padding: 15px;
    font-size: 2.5rem;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    top: 50%;
    width: 20px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
}

.bottom-line label:before {
    content: "\3e";
    border-left: 1px solid #ccc;
    right: 100%;
}

.bottom-line label:after {
    content: "\3c";
    border-right: 1px solid #ccc;
    left: 100%;
}

.buzzwords *:focus~label {
    content: "";
    border: 2px solid red;
    height: 100%;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    z-index: 99;
}

.word2, .word3, .word4 {
    margin-left: -5px
}

.call-for-action-widget {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.call-for-action-text {
    font-size: large;
    text-transform: capitalize;
}

input, .button {
    background: #fff;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 14px;
}

.call-for-action-widget label {
  display: block;
  font-size: medium;
}
.submit {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
.button{
    text-decoration: none;
    color: #333;
    width: 90%;
    display: inline-block;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
}

.call-for-action-text {
    margin-top: 8px;
    margin-bottom: 0px;
}

.button.inverted {
    color: #fff;
}

.social {
    text-align: center;
    padding: 10px;
    float: left;
    display: table-cell;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.social .button {
    flex: 1 0 0;
    border: none;
    width: auto;
    font-weight: 300;
}

.facebook {
    background: #3b5998;
}

.github {
    background: #333;
}

.twitter {
    background: #1da1f2;
}

.footer {
    font-size: 12px;
    color: #aaa;
    margin-top: 10px;
}

.blue, .pink {
    font-weight: bold;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.blue {
    border: 2px solid #2196f3;
    color: #2196f3;
}

.pink {
    border: 2px solid #e91e63;
    color: #e91e63;
}

.blue:hover {
    background: #2196f3;
    color: #fff;
}

.pink:hover {
    background: #e91e63;
    color: #fff;
}

.footer a {
    color: #999;
}

.call-for-action-widget input,  .call-for-action-widget .button{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .innovation, .problem-wrp {
        width: 50%;
    }
    .call-for-action.action-count-2 .call-for-action-widget {
        width: 50%;
    }
    .call-for-action input, .call-for-action .submit, .call-for-action .button {
      min-width: 200px;
      margin-top: 5px;
    }
    .call-for-action.action-count-3 .call-for-action-widget {
        width: 33%;
    }
    .call-for-action.action-count-4 .call-for-action-widget {
        width: 25%;
    }
    .call-for-action-widget {
        margin-top: 2px;
    }
    .bottom-line label:before, .bottom-line label:after {
        width: 50px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
      font-size: 2.2rem;
    }
    .aim {
      font-size: 1.5rem;
      padding: .5rem;
    }
    .problem {
      padding-left: 0px;
    }
    .bottom-line label {
        font-size: 1.5rem;
    }
    .bottom-line label:before, .bottom-line label:after {
        width: 50px;
        margin-top: 15px;
        border: none;
        font-size: .8rem;
        font-weight: bold;
        line-height: 100px;
    }
    .bottom-line label:after {
        content: "\prev";
        left: 100%;
    }
    .bottom-line label:before {
        content: "next";
        right: 100%;
    }
    .bottom-line label:before, .bottom-line label:after {
        background: transparent;
    }
    .call-for-action-widget input {
      width: 90%;
      margin-top: 5px;
    }
    .social {
      display: table-cell;
    }
    .social .button {
      width: 90%;
      margin-top: 5px;
    }
}
