body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    background: #f9f9f9;
    margin: 0;
    min-height: 100%;
}

h1 {
    font-weight: lighter;
    margin: 0px;
    padding: 5px;
    font-size: 3rem;
}

p {
    color: #444;
    font-size: 14px;
    margin: .2em;
}

.a {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    background: #fff;
    padding: 5px 0px 10px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}

.b {
    width: 80%;
    margin: 1em auto;
}

input[type="email"], input[type="text"], input[type="url"], textarea, select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}


/* Removes awkward default styles on some inputs for iOS */

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #0275d8;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #FFF;
    background-color: #0275d8;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  background-color: #025aa5;
  border-color: #025aa5;
    outline: 0;
}
#g {
  width: 100%;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
#g:hover {
  background-color: #449d44;
  border-color: #449d44;
}

a, a:visited {
  color: #222;
  text-decoration: none;
}
.c {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  width: 33%;
  box-sizing: border-box;
  padding: 0rem 0rem 1rem 0rem;
}
.d {
  max-width: 100%;
  height: auto;
}
h2 {
  color: #333;
  margin: .2rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media only screen and (max-width: 768px) {
  .c {
    width: 50%;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .c {
    width: 100%;
  }
  h2 {
    font-size: 1.2rem;
  }
}
