body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    background: #f9f9f9;
    margin: 0;
    min-height: 100%;
    text-align: center;
}

h1 {
    font-weight: lighter;
    margin: 0px;
    padding: 5px;
    font-size: 3rem;
}

p {
    color: #444;
    font-size: 14px;
    margin: .2em;
}

.a {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    background: #fff;
    padding: 5px 0px 10px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.b {
    width: 80%;
    margin: 1em auto;
}

@media only screen and (max-width: 768px) {
  h1 {
      font-size: 2.2rem;
  }
}
#g {
  width: 100%;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
#g:hover {
  background-color: #449d44;
  border-color: #449d44;
}

a, a:visited {
  text-decoration: none;
}
.c {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 1%;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  width: 31%;
  box-sizing: border-box;
  padding: 1rem .8rem;
  float: left;
}
.c:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.16);
}
.d {
  opacity: .55;
  max-width: 100%;
  height: auto;
  transition: all 1s;
}
.c:hover .d{
  opacity: 1;
}
h2 {
  color: #333;
  margin: .2rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media only screen and (max-width: 768px) {
  .c {
    width: 48%;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .c {
    width: 100%;
  }
  h2 {
    font-size: 1.2rem;
  }
}
.button{
    margin: 5px auto;
    text-align: center;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    font-weight: bold;
    text-decoration: none;
    width: 90%;
    display: inline-block;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.blue, .pink {
    font-weight: bold;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.blue {
    border: 2px solid #2196f3;
    color: #2196f3;
}

.pink {
    border: 2px solid #e91e63;
    color: #e91e63;
}

.blue:hover {
    background: #2196f3;
    color: #fff;
}

.pink:hover {
    background: #e91e63;
    color: #fff;
}
.cl {
  clear: both
}
